@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400 800;
  font-display: swap;
  src: url("PlusJakartaSans-latin-wght.woff2") format("woff2"),
       url("PlusJakartaSans-variable.ttf") format("truetype");
}

